{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog sayt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
     <div class="w-50">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-flex justify-content-end">
                <input type="submit" value="kirish" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>
</body>
</html>



